* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-six;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

main {
  background-color: $color-four;
  height: 90vh;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
