$color-one: #cb997e;
$color-two: #eddcd2;
$color-three: #fff1e6;
$color-four: #f0efeb;
$color-five: #ddbea9;
$color-six: #a5a58d;
$color-seven: #b7b7a4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-six;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

main {
  background-color: $color-four;
  height: 70vh;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.head {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h6 {
  margin: 0;
}

.scores {
  display: flex;
  padding: 5px 20px 20px 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  p {
    padding: 5px 15px;
    color: white;
    text-align: center;
    border-radius: 6px;
    background-color: $color-five;

    b {
      text-transform: uppercase;
      font-size: small;
      color: $color-three;
    }
  }
}

.instructions {
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;

  b {
    font-family: 'Karla', sans-serif;
  }
}

.dice-container {
  margin: 10px 0;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice-face {
  height: 45px;
  width: 45px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-num {
  font-size: 2.4rem;
}

button {
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: $color-one;
  color: $color-four;
  font-size: 0.8rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;

  &.roll-dice {
    height: 50px;
    width: 150px;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    }
  }
}
